/*
 * TG STUDIO Logo
 */
.strich{
		background-color: #f00;
		height: 2px;
		margin: 8px;
	}

	.logo-box{
		border: solid 1px #fff;
		background: #222;
		color: #fff;
		text-align: center;
		width: 200px;
		margin: 20px auto;
	}

	.tg{
		font-size: 100px;
		font-weight: bold;
		line-height: 80px;
	}
	.studio-text{
		font-size: 32px;
	}
	.kraftraum{
		font-size: 12px;
		font-weight: 200;
		letter-spacing: 6px;
	}

	.spiegelsaal{
		background-color: #f00;
		margin: 8px;
	}
	.spiegelsaal h3{
		font-size: 12px;
		font-weight: 25;
		letter-spacing: 5px;
		color: #fff;
		
	}

@media (min-width: 768px) {
	.strich{
		background-color: #f00;
		height: 4px;
		margin: 16px;
	}

	.logo-box{
		border: solid 1px #fff;
		background: #222;
		color: #fff;
		text-align: center;
		width: 400px;
		margin: 40px auto;
	}

	.tg{
		font-size: 200px;
		font-weight: bold;
		line-height: 160px;
	}
	.studio-text{
		font-size: 64px;
	}
	.kraftraum{
		font-size: 24px;
		font-weight: 200;
		letter-spacing: 12px;
	}

	.spiegelsaal{
		background-color: #f00;
		margin: 16px;
	}
	.spiegelsaal h3{
		font-size: 24px;
		font-weight: 50;
		letter-spacing: 10px;
		color: #fff;
		
	}
}
